fastapi[all]
langchain-google-genai
pillow
openai
langchain
langchain_openai
langchain_experimental
langchainhub
pinecone-client
python-dotenv
tiktoken
docx2txt
pypdf
requests
numpy
pandas
jupyter_ai
google-generativeai
