fastapi[all]
langchain-google-genai
pillow
openai
langchain
langchain_openai
langchain_experimental
langchainhub
pinecone-client
python-dotenv==1.0.1
tiktoken==0.7.0
docx2txt==0.8
pypdf==4.3.1
requests
numpy
pandas
jupyter_ai
google-generativeai
pyrebase4
firebase-admin
bcrypt
python-multipart
passlib
python-jose
pydantic



